<form (ngSubmit)="onAddItem(f)" #f="ngForm">
	<label for="name">Extraction Name</label>
	<input 
		type="text"
		class="form-input"
		id="name"
		name="name"
		ngModel
		required
	>
	<label for="strs">STRs</label>
	<input 
		type="radio"
		class="form-input"
		id="strs"
		name="type"
		value="STRs"
		ngModel
		required
	>
	<label for="strs">Mito</label>
	<input 
		type="radio"
		class="form-input"
		id="mito"
		name="type"
		value="Mito"
		ngModel
		required
	>
	<label for="analyst">Analyst</label>
	<input 
		type="text"
		class="form-input"
		id="analyst"
		name="analyst"
		ngModel
		required
	>
	<label for="notes">Notes</label>
	<input 
		type="text"
		id="notes"
		name="notes"
		ngModel
	>
	<button type="submit" [disabled]="!f.valid">Add</button>
</form>

