nav {
	background-color: #000;
	padding: 20px;
}

.logo a {
	color: #fff;
	font-size: 36px;
	text-decoration: none;
}

.nav-links {
	display: flex;
	list-style: none;
	padding: 20px 0;
}

.nav-links a {
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
}

.nav-links a.active-link {
	border-bottom: solid 2px white;
}