<div class="form-container" [hidden]="!showForm">
	<form (ngSubmit)="onUpdateExtraction(f)" #f="ngForm">
	<label for="name">Extraction Name</label>
	<input 
		type="text"
		class="form-input"
		id="name"
		name="name"
		ngModel
		required
	>
	<label for="strs">STRs</label>
	<input 
		type="radio"
		class="form-input"
		id="strs"
		name="type"
		value="STRs"
		ngModel
		required
	>
	<label for="mito">Mito</label>
	<input 
		type="radio"
		class="form-input"
		id="mito"
		name="type"
		value="Mito"
		ngModel
		required
	>
	<label for="analyst">Analyst</label>
	<input 
		type="text"
		id="analyst"
		name="analyst"
		ngModel
	>
	<label for="notes">Notes</label>
	<input 
		type="text"
		id="notes"
		name="notes"
		ngModel
	>
	<label for="bufferAdded">Buffer Added</label>
	<input 
		type="checkbox"
		id="bufferAdded"
		name="bufferAdded"
		ngModel
	>
	<label for="bufferAddedDate">Buffer Added Date</label>
	<input 
		type="text"
		id="bufferAddedDate"
		name="bufferAddedDate"
		ngModel
	>
	<label for="wasExtracted">Extracted</label>
	<input 
		type="checkbox"
		id="wasExtracted"
		name="wasExtracted"
		ngModel
	>
	<label for="extractedDate">Extracted Date</label>
	<input 
		type="text"
		id="extractedDate"
		name="extractedDate"
		ngModel
	>
		<label for="samples">Samples</label>
	<input 
		type="text"
		id="samples"
		name="samples"
		ngModel
	>
	<button type="submit" [disabled]="!f.valid">Save</button>
</form>
</div>