<div>
	<div class="extraction-set__name">{{extractionSet.name}}</div>
	<div>{{extractionSet.type}}</div>
	<div>Analyst: {{extractionSet.analyst}}</div>
	<div>Notes: {{extractionSet.notes}}</div>
	<div>Buffer Added: {{extractionSet.bufferAdded ? "&#x2714;" : ""}}</div>
	<div>{{extractionSet.bufferAddedDate}}</div>
	<div>Extraction Complete: {{extractionSet.wasExtracted ? "&#x2714;" : ""}}</div>
	<div>{{extractionSet.extractedDate}}</div>
	<div><ul>
		<li *ngFor="let sample of extractionSet.samples">{{sample.name}}</li>
	</ul></div>
</div>
