.extraction-info {
	border: solid 5px silver;
	border-radius: 10px;
	display: flex;
	font-size: 20px;
	margin: 10px 0;
	padding: 10px;
}

.extraction-info div {
	width: 10%;
}

.buffer-added {
	border-color: #ff0;
}

.extracted {
	border-color: #ffae00;
}