<div class="sample-info" [ngClass]="{cleaned: sample.wasCleaned, sampled: sample.wasSampled}">
	<div>{{sample.name}}</div>
	<div>{{sample.notes}}</div>
	<div>{{sample.strs ? "STRs" : ""}}</div>
	<div>{{sample.mito ? "Mito" : ""}}</div>
	<div>{{sample.isPriority ? "priority" : ""}}</div>
	<div>{{sample.analyst}}</div>
	<div>{{sample.wasCleaned ? "&#x2714;" : ""}}</div>
	<div>{{sample.cleanedDate}}</div>
	<div>{{sample.wasSampled ? "&#x2714;" : ""}}</div>
	<div>{{sample.sampledDate}}</div>
	<button (click)="onEditSample(index)">Edit</button>
</div>
