<div class="sample-info" [ngClass]="{cleaned: sample.wasCleaned, sampled: sample.wasSampled}">
	<div>{{sample.name}}</div>
	<div>{{sample.notes}}</div>
	<div>{{sample.strs ? "STRs" : ""}}</div>
	<div>{{sample.mito ? "Mito" : ""}}</div>
	<div>{{sample.isPriority ? "priority" : ""}}</div>
	<div>{{sample.analyst}}</div>
	<div *ngIf="sample.wasCleaned">&#x2714;</div>
	<div *ngIf="!sample.wasCleaned"><button (click)="onMarkCleaned()">Cleaned</button></div>
	<div>{{sample.cleanedDate}}</div>
	<div *ngIf="sample.wasSampled">&#x2714;</div>
	<div *ngIf="!sample.wasSampled"><button [disabled]="!sample.wasCleaned" (click)="onMarkSampled()">Sampled</button></div>
	<div>{{sample.sampledDate}}</div>
	<div>
	<form *ngIf="sample.wasSampled" (ngSubmit)="onAssignExtraction(f)" #f="ngForm" id="myform">
		<select name="extraction" id="extraction" required ngModel>
			<option value="">Assign</option>
			<option *ngFor = "let extraction of extractions" [value]="extraction.name">{{ extraction.name }}</option>
		</select>
		<button type="submit" value="Submit" [disabled]="!f.valid">Submit</button>
	</form>
	</div>
	<div>
		<button (click)="onEditSample(index)" class="edit-button">Edit</button>
	</div>
</div>
