<div class="sample-info" [ngClass]="{cleaned: sample.wasCleaned, sampled: sample.wasSampled}">
	<div>{{sample.name}}</div>
	<div>{{sample.notes}}</div>
	<div>{{sample.strs ? "STRs" : ""}}</div>
	<div>{{sample.mito ? "Mito" : ""}}</div>
	<div>{{sample.isPriority ? "priority" : ""}}</div>
	<div>{{sample.analyst}}</div>
	<div *ngIf="sample.wasCleaned">&#x2714;</div>
	<div *ngIf="!sample.wasCleaned"><button (click)="onMarkCleaned()">Cleaned</button></div>
	<div>{{sample.cleanedDate}}</div>
	<div *ngIf="sample.wasSampled">&#x2714;</div>
	<div *ngIf="!sample.wasSampled"><button [disabled]="!sample.wasCleaned" (click)="onMarkSampled()">Sampled</button></div>
	<div>{{sample.sampledDate}}</div>
	<form (ngSubmit)="onAssignExtraction(f)" #f="ngForm">
		<label for="extractions">Assign:</label>
		<select name="extraction" id="extraction" ngModel>
			<option *ngFor = "let extraction of extractions" [value]="extraction.name">{{ extraction.name }}</option>
		</select>
		<input type="submit" value="Submit">
	</form>
	<button (click)="onEditSample(index)" class="edit-button">Edit</button>
</div>
