.header {
	border-bottom: solid 3px black;
	display: flex;
	font-size: 20px;
	margin-left: 15px;
}

.header div {
	text-align: center;
	width: 10%;
}

.list >*:nth-of-type(even) {
	color: gray;
}

h2 {
	margin: 30px;
}