<div class="extraction-info" [ngClass]="{'buffer-added' : extractionSet.bufferAdded, 'extracted' :  extractionSet.wasExtracted}">
		<div class="extraction-set__name">{{extractionSet.name}}</div>
		<div>{{extractionSet.type}}</div>
		<div>Analyst: {{extractionSet.analyst}}</div>
		<div>Notes: {{extractionSet.notes}}</div>
		<div *ngIf="extractionSet.bufferAdded">&#x2714; <span>Buffer Added {{extractionSet.bufferAddedDate}}</span></div>
		<div *ngIf="!extractionSet.bufferAdded"><button (click)="onMarkBufferAdded()">Buffer Added</button></div>
		<div *ngIf="extractionSet.wasExtracted">&#x2714; <span>Extracted {{extractionSet.extractedDate}}</span></div>
		<div *ngIf="!extractionSet.wasExtracted"><button [disabled]="!extractionSet.bufferAdded" (click)="onMarkExtracted()">Extracted</button></div>
		<div>
			<ul>
				<li *ngFor="let sample of extractionSet.samples">{{sample.name}}</li>
			</ul>
		</div>
		<div class="buttons">
			<button (click)="onEditExtraction(index)">Edit</button>
			<button *ngIf="extractionSet.wasExtracted" (click)="archiveExtraction(extractionSet)">Archive</button>
		</div>
</div>