.extraction-info {
	border: solid 5px silver;
	border-radius: 10px;
	font-size: 20px;
	margin: 10px 20px;
	padding: 10px 30px;
	width: 300px;
}

.extraction-set__name {
	font-weight: bold;
}

.buffer-added {
	border-color: #ff0;
}

.extracted {
	border-color: #ffae00;
}